<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">User Name</th>
    <th scope="col">FullName</th>
    <th scope="col">Password</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">UpDate User</th>
    <th scope="col">Delete User</th>
    <th scope="col"s>
      <button class="btn btn-success" (click)="resetForm()" type="submit" class="btn btn-info"
              class="btn btn-primary" data-toggle="modal" data-target="#UserModel">Add
      </button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of listUserModel">
    <td>{{item.userName}}</td>
    <td>{{item.fullName}}</td>
    <td>{{item.password}}</td>
    <td>{{item.phone}}</td>
    <td>{{item.email}}</td>
    <td>
      <button class="btn btn-primary" (click)="openFormUpdate(item)" type="button" class="btn btn-primary"
              data-toggle="modal"
              data-target="#UserModel">UpDate
      </button>
    </td>

    <td>
      <button class="btn btn-danger" (click)="onDelete(item.id)">Delete</button>
    </td>
  </tr>

  </tbody>
  <!--model-->
  <div class="modal fade" id="UserModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Quản Lý User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Add</label>
              <div class="col-sm-6">
                User Name :<input [(ngModel)]="UserModel.userName" type="text" name="userName" class="form-control"/>
                Full Name :<input [(ngModel)]="UserModel.fullName" type="text" name="fullName" class="form-control"/>
                PassWord :<input [(ngModel)]="UserModel.password" type="text" name="password" class="form-control"/>
                Phone :<input [(ngModel)]="UserModel.phone" type="text" name="phone" class="form-control"/>
                Email :<input [(ngModel)]="UserModel.email" type="text" name="email" class="form-control"/>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="!UserModel.id"
                  (click)="onAddUser()">Add
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="UserModel.id" (click)="onUpData()">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</table>
