<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">STT</th>
    <th scope="col">MSSV</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">email</th>
    <th scope="col">Phone</th>
    <th scope="col">UpDate Student</th>
    <th scope="col">Delete Student</th>
    <th scope="col">

      <button class="btn btn-success" (click)="resetForm()" type="submit" class="btn btn-info"
              class="btn btn-primary" data-toggle="modal" data-target="#studentModel">Add
      </button>
    </th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listStudentModels; let i = index">
      <td>{{i+1}}</td>
      <td>{{item.mssv}}</td>
      <td>{{item.name}}</td>
      <td>{{item.address}}</td>
      <td>{{item.email}}</td>
      <td>{{item.phone}}</td>
      <td>
        <button class="btn btn-primary" (click)="openFormUpdate(item)" type="button" class="btn btn-primary"
                data-toggle="modal"
                data-target="#studentModel">UpDate
        </button>
      </td>

      <td>
        <button class="btn btn-danger" (click)="onDeleteStudent(item.Id)">Delete</button>
      </td>
    </tr>
  </tbody>

  <!--model-->
  <div class="modal fade" id="studentModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Quản Lý Student</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Add</label>
              <div class="col-sm-6">
                Mã Sinh viên :<input [(ngModel)]="studentModel.mssv" type="text" name="MSSV" class="form-control"/>
                Name :<input [(ngModel)]="studentModel.name" type="text" name="Name" class="form-control"/>
                Address :<input [(ngModel)]="studentModel.address" type="text" name="Address" class="form-control"/>
                Email :<input [(ngModel)]="studentModel.email" type="text" name="Email" class="form-control"/>
                Phone :<input [(ngModel)]="studentModel.phone" type="text" name="Phone" class="form-control"/>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="!studentModel.id"
                  (click)="onAddStudent()">Add
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="studentModel.id"
                  (click)="onUpDateStudent()">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</table>
