<div class="row">
  <div class="col-md-6">

    <div class="card">
      <div class="card-block">

        <div class="alert alert-success" role="alert">
          <strong>All set!</strong> Please login with your account
        </div>
        <form #f="ngForm" (ngSubmit)="login(f)">

          <div class="form-group">
            <label for="UserName">UserName</label>
            <input id="UserName" type="text" required name="UserName" [(ngModel)]="credentials.UserName" #email="ngModel"
                   class="form-control"
                   placeholder="UserName">
            <!--<small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">-->
              <!--Please enter a valid UserName-->
            <!--</small>-->
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" required name="password" class="form-control"
                   [(ngModel)]="credentials.password" placeholder="Password" ngModel>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Login</button>
            <app-spinner [isRunning]="isRequesting"></app-spinner>
          </div>

          <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>Oops!</strong> {{errors}}
          </div>
        </form>

      </div>
    </div>
  </div>
